@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import './ColorPalettes.module.scss';

.navbarContainer {
    background-image: linear-gradient(to bottom, $primary1, rgba(0, 0, 0, 0));
    padding: 1vw 4vw;
    color: $secondary1;
    transition: background-color 0.8s ease-out;

    .logo {
        width: 6vw;
        min-width: 60px;
    }

    .nav {
        .primaryElement {
            margin: 0 0.5em 0 1.3rem;
            color: $secondary1;
            font-size: calc(5.5px + .55vw);
        }

        .primaryElement:hover {
            cursor: pointer;
            color: rgb(210, 210, 210);
            transition: color .5s ease;
        }
    }

    a {
        font-weight: 300;
        color: $secondary1;
        text-decoration: none;
        margin: 0;
    }

    a[aria-disabled="true"] {
        font-weight: 500;
        pointer-events: none;
    }

    .secondaryElement {
        a {
            margin: 0 .8em;
            font-size: calc(5.5px + .55vw);
        }

        button {
            background: transparent;
            border: none;
            margin: 0 .4em;

        }

        button:hover {
            .triangle {
                transform: rotate(180deg);
            }
        }
    }

    .secondaryElementSmall{
        display: none;
        color: white;

        a {
            margin: 0 .8em;
            font-size: calc(12px + .55vw);
        }

        button {
            background: transparent;
            border: none;
            margin: 0 .4em;

        }

        button:hover {
            .triangle {
                transform: rotate(180deg);
            }
        }
    }

    @media (max-width: 768px) {
        .secondaryElement{
            display: none;
        }
        .secondaryElementSmall{
            display: block;
        }
        
    }

    .triangle {
        margin-left: 0.5em;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $secondary1;
        transition: all 0.3s
    }

    .profileIcon {
        width: 32px;
        height: 32px;
        background: $secondary2;
        border-radius: 4px;

        img {
            border-radius: 4px;
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }

    
}



.navbarContainer.scrolled {
    background: $primary1;
}

